@import url(node_modules/bootstrap/dist/css/bootstrap.min.css);
@import url(node_modules/aos/demo/css/styles.css);
@import url(node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import url(./css/style.css);